*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

header,
footer {
  background-color: #0a1322;
}

main,
aside {
  padding: 20px 5%;
  background-color: #101927;
}

h1,
h2,
h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #d8e3e8;
}

p {
  margin-bottom: 15px;
  color: #d8e3e8;
}

img {
  border-radius: 5px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
  max-width: 100%;
}

a,
i {
  color: #d8e3e8;
}

/* 
=======================================================
Outer grid styles
======================================================= 
*/

.outer-grid {
  display: grid;
  height: 100vh;
  grid-template: 70px 1fr / 90px 1fr;
  grid-template-areas:
    "g-header g-header"
    "g-inner-grid g-inner-grid";
}

.outer-grid-expended {
  grid-template-areas:
    "g-header g-header"
    "g-nav g-inner-grid";
}

header {
  grid-area: g-header;
}

nav {
  grid-area: g-nav;
}

.hide-nav {
  display: none;
}

/* 
=======================================================
Inner grid styles
======================================================= 
*/

.inner-grid {
  display: grid;
  grid-area: g-inner-grid;
  grid-template: 1fr auto 60px / 1fr;
  grid-template-areas:
    "g-main"
    "g-aside"
    "g-footer";
  overflow-y: scroll;
}

main {
  grid-area: g-main;
}

aside {
  grid-area: g-aside;
}

footer {
  grid-area: g-footer;
}

/* 
=======================================================
Header styles
======================================================= 
*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.left-header {
  display: flex;
  align-items: center;
}

.fa-bars {
  margin-right: 15px;
}

.fa-bars:hover {
  opacity: 0.7;
  cursor: pointer;
}

.right-header {
  display: flex;
}

.header-link {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  align-items: center;
}

.header-link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header-link i {
  font-size: 0.8rem;
}

/* 
=======================================================
Nav styles
======================================================= 
*/

nav {
  padding-top: 20px;
  background-color: #0a1322;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
  margin: 0;
  padding: 0;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 0.9rem;
}

.nav-link a {
  text-decoration: none;
}

.nav-link:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* 
=======================================================
SideBar styles
======================================================= 
*/

aside {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* 
=======================================================
Footer styles
======================================================= 
*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #d8e3e8;
  margin: 0;
}

/* 
=======================================================
Collage styles
======================================================= 
*/

.collage {
  margin: 5vh 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 40px 1fr 40px 1fr;
  align-items: center;
}

.collage-1 {
  grid-area: 1 / 1 / 2 / 3;
  z-index: 1;
  transform: rotate(-3deg);
}

.collage-2 {
  grid-area: 1 / 2 / 2 / 5;
  z-index: 2;
  box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.5);
}

.collage-3 {
  grid-area: 1 / 4 / 2 / 6;
  z-index: 1;
  transform: rotate(3deg);
}

/* 
=======================================================
Media breakpoints
======================================================= 
*/

@media (min-width: 576px) {
  .fa-bars {
    display: none;
  }

  .outer-grid {
    grid-template-areas:
      "g-header g-header"
      "g-nav g-inner-grid";
  }

  nav {
    display: flex !important;
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .inner-grid {
    grid-template: 1fr 60px / minmax(auto, 700px) 1fr;
    grid-template-areas:
      "g-main g-aside"
      "g-footer g-footer";
  }

  aside {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 1440px) {
  .outer-grid {
    grid-template-columns: 1fr 950px 1fr;
    grid-template-areas:
      "g-header g-header g-header"
      "g-nav g-inner-grid g-inner-grid";
  }

  header {
    display: grid;
    grid-template: 1fr / 1fr 950px 1fr;
    grid-template-areas: "g-left-header . g-right-header";
  }

  .left-header {
    grid-area: g-left-header;
    justify-self: end;
  }

  .right-header {
    grid-area: g-right-header;
    justify-self: start;
  }

  nav {
    align-items: flex-end;
    padding-right: 20px;
  }
}
